# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
absl-py=2.1.0=pypi_0
acids-rave=2.1.16=pypi_0
aiohappyeyeballs=2.4.4=pypi_0
aiohttp=3.11.11=pypi_0
aiosignal=1.3.2=pypi_0
altair=5.3.0=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.8.0=pyhd8ed1ab_0
appnope=0.1.4=pyhd8ed1ab_1
argon2-cffi=23.1.0=pyhd8ed1ab_1
argon2-cffi-bindings=21.2.0=py310h837254d_5
arrow=1.3.0=pyhd8ed1ab_1
asttokens=3.0.0=pyhd8ed1ab_1
async-lru=2.0.4=pyhd8ed1ab_1
async-timeout=5.0.1=pypi_0
attrs=24.3.0=pyh71513ae_0
audioread=3.0.1=pypi_0
babel=2.16.0=pyhd8ed1ab_1
beautifulsoup4=4.12.3=pyha770c72_1
blas=1.0=openblas
bleach=6.2.0=pyh29332c3_4
bleach-with-css=6.2.0=h82add2a_4
blinker=1.9.0=pypi_0
brotli-python=1.1.0=py310h53e7c6a_2
bzip2=1.0.8=h6c40b1e_6
ca-certificates=2024.12.31=hecd8cb5_0
cached-conv=2.5.0=pypi_0
cached-property=1.5.2=hd8ed1ab_1
cached_property=1.5.2=pyha770c72_1
cachetools=5.5.0=pypi_0
catalogue=2.0.10=py310hecd8cb5_0
certifi=2023.11.17=pypi_0
cffi=1.16.0=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.8=pypi_0
cloudpathlib=0.16.0=py310hecd8cb5_1
colorama=0.4.6=py310hecd8cb5_0
coloredlogs=15.0.1=pypi_0
colour=0.1.5=pypi_0
comm=0.2.2=pyhd8ed1ab_1
confection=0.1.4=py310h20db666_0
contourpy=1.3.1=py310h1962661_0
cycler=0.11.0=pyhd3eb1b0_0
cymem=2.0.6=py310h6d0c2b6_1
cython-blis=0.7.9=py310h7b7cdfe_0
datasets=2.19.1=pypi_0
debugpy=1.8.12=py310h6954a95_0
decorator=5.1.1=pyhd8ed1ab_1
defusedxml=0.7.1=pyhd8ed1ab_0
dill=0.3.8=pypi_0
dorothy-cci=0.0.53=pypi_0
einops=0.8.0=pypi_0
en-core-web-sm=3.7.1=pypi_0
entrypoints=0.4=pyhd8ed1ab_1
exceptiongroup=1.2.2=pyhd8ed1ab_1
executing=2.1.0=pyhd8ed1ab_1
filelock=3.16.1=pypi_0
flask=3.1.0=pypi_0
flatbuffers=24.12.23=pypi_0
fonttools=4.55.3=py310h46256e1_0
fqdn=1.5.1=pyhd8ed1ab_1
freetype=2.12.1=hd8bbffd_0
frozenlist=1.5.0=pypi_0
fsspec=2024.3.1=pypi_0
ftfy=6.3.1=pypi_0
gensim=4.3.3=py310h207f725_0
gin-config=0.5.0=pypi_0
gitdb=4.0.12=pypi_0
gitpython=3.1.44=pypi_0
gputil=1.4.0=pypi_0
grpcio=1.69.0=pypi_0
h11=0.14.0=pyhd8ed1ab_1
h2=4.1.0=pyhd8ed1ab_1
hpack=4.0.0=pyhd8ed1ab_1
httpcore=1.0.7=pyh29332c3_1
httpx=0.27.2=pypi_0
huggingface-hub=0.27.1=pypi_0
humanfriendly=10.0=pypi_0
hyperframe=6.0.1=pyhd8ed1ab_1
idna=3.6=pypi_0
imageio=2.34.2=pypi_0
imageio-ffmpeg=0.6.0=pypi_0
importlib-metadata=8.5.0=pyha770c72_1
importlib_resources=6.5.2=pyhd8ed1ab_0
iniconfig=2.0.0=pypi_0
ipykernel=6.29.5=pyh57ce528_0
ipython=8.31.0=pyh707e725_0
ipywidgets=8.1.5=pyhd8ed1ab_1
isoduration=20.11.0=pyhd8ed1ab_1
itsdangerous=2.2.0=pypi_0
jedi=0.19.2=pyhd8ed1ab_1
jinja2=3.1.5=pyhd8ed1ab_0
joblib=1.3.2=pypi_0
jpeg=9e=h46256e1_3
json5=0.10.0=pyhd8ed1ab_1
jsonpointer=3.0.0=py310h2ec42d9_1
jsonschema=4.23.0=pyhd8ed1ab_1
jsonschema-specifications=2024.10.1=pyhd8ed1ab_1
jsonschema-with-format-nongpl=4.23.0=hd8ed1ab_1
jupyter=1.1.1=pyhd8ed1ab_1
jupyter-lsp=2.2.5=pyhd8ed1ab_1
jupyter_client=8.6.3=pyhd8ed1ab_1
jupyter_console=6.6.3=pyhd8ed1ab_1
jupyter_core=5.7.2=pyh31011fe_1
jupyter_events=0.11.0=pyhd8ed1ab_0
jupyter_server=2.15.0=pyhd8ed1ab_0
jupyter_server_terminals=0.5.3=pyhd8ed1ab_1
jupyterlab=4.3.4=pyhd8ed1ab_0
jupyterlab_pygments=0.3.0=pyhd8ed1ab_2
jupyterlab_server=2.27.3=pyhd8ed1ab_1
jupyterlab_widgets=3.0.13=pyhd8ed1ab_1
kiwisolver=1.4.8=py310h6d0c2b6_0
krb5=1.21.3=h37d8d59_0
langcodes=3.3.0=pyhd3eb1b0_0
lazy-loader=0.4=pypi_0
lcms2=2.16=h4f63f0c_0
lerc=4.0.0=h6d0c2b6_0
libcxx=19.1.7=hf95d169_0
libdeflate=1.22=h46256e1_0
libedit=3.1.20191231=h0678c8f_2
libffi=3.4.4=hecd8cb5_1
libgfortran=5.0.0=11_3_0_hecd8cb5_28
libgfortran5=11.3.0=h9dfd629_28
libopenblas=0.3.21=h54e7dc3_0
libpng=1.6.39=h6c40b1e_0
librosa=0.10.2=pypi_0
libsodium=1.0.20=hfdf4475_0
libtiff=4.5.1=h6fa9cd1_1
libwebp-base=1.3.2=h46256e1_1
lightning-utilities=0.11.9=pypi_0
llvm-openmp=14.0.6=h0dcd299_0
llvmlite=0.43.0=pypi_0
lmdb=1.6.2=pypi_0
lz4-c=1.9.4=hf0c8a7f_0
markdown=3.7=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=3.0.2=py310h8e2f543_1
matplotlib=3.10.0=py310hecd8cb5_0
matplotlib-base=3.10.0=py310h919b35b_0
matplotlib-inline=0.1.7=pyhd8ed1ab_1
mdurl=0.1.2=pypi_0
mistune=3.1.0=pyhd8ed1ab_0
moviepy=2.1.1=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.0.7=pypi_0
multidict=6.1.0=pypi_0
multiprocess=0.70.16=pypi_0
murmurhash=1.0.7=py310he9d5cce_0
nbclient=0.10.2=pyhd8ed1ab_0
nbconvert-core=7.16.5=pyhd8ed1ab_1
nbformat=5.10.4=pyhd8ed1ab_1
ncurses=6.4=hcec6c5f_0
nest-asyncio=1.6.0=pyhd8ed1ab_1
networkx=3.4.2=pypi_0
nltk=3.9.1=py310hecd8cb5_0
nn-tilde=1.5.6=pypi_0
notebook=7.3.2=pyhd8ed1ab_0
notebook-shim=0.2.4=pyhd8ed1ab_1
numba=0.60.0=pypi_0
numpy=1.26.2=pypi_0
numpy-base=1.26.4=py310hd8f4981_0
ollama=0.4.6=pypi_0
onnxruntime=1.20.1=pypi_0
open-clip-torch=2.30.0=pypi_0
opencv-python=4.8.1.78=pypi_0
openjpeg=2.5.2=hbf2204d_0
openssl=3.4.0=hc426f3f_1
overrides=7.7.0=pyhd8ed1ab_1
packaging=23.2=pypi_0
pandas=2.2.2=pypi_0
pandocfilters=1.5.0=pyhd8ed1ab_0
parso=0.8.4=pyhd8ed1ab_1
pexpect=4.9.0=pyhd8ed1ab_1
pickleshare=0.7.5=pyhd8ed1ab_1004
pillow=10.4.0=pypi_0
pip=24.2=py310hecd8cb5_0
pkgutil-resolve-name=1.3.10=pyhd8ed1ab_2
platformdirs=4.1.0=pypi_0
pluggy=1.5.0=pypi_0
pooch=1.8.0=pypi_0
preshed=3.0.6=py310he9d5cce_0
proglog=0.1.10=pypi_0
prometheus_client=0.21.1=pyhd8ed1ab_0
prompt-toolkit=3.0.48=pyha770c72_1
prompt_toolkit=3.0.48=hd8ed1ab_1
propcache=0.2.1=pypi_0
protobuf=5.29.3=pypi_0
psutil=5.9.6=pypi_0
ptyprocess=0.7.0=pyhd8ed1ab_1
pure_eval=0.2.3=pyhd8ed1ab_1
py-cpuinfo=9.0.0=pypi_0
pyarrow=19.0.0=pypi_0
pyarrow-hotfix=0.6=pypi_0
pybind11-abi=4=hd3eb1b0_1
pycparser=2.21=pypi_0
pydantic=2.9.2=pypi_0
pydantic-core=2.27.1=py310h83de92b_0
pydeck=0.9.1=pypi_0
pygments=2.19.1=pyhd8ed1ab_0
pyobjc-core=11.0=py310hae5a141_0
pyobjc-framework-cocoa=11.0=py310hae5a141_0
pyparsing=3.2.0=py310hecd8cb5_0
pysocks=1.7.1=pyha55dd90_7
pytest=8.3.4=pypi_0
python=3.10.16=hce00570_1
python-dateutil=2.9.0.post0=pyhff2d567_1
python-dotenv=1.0.1=pypi_0
python-fastjsonschema=2.21.1=pyhd8ed1ab_0
python-json-logger=2.0.7=pyhd8ed1ab_0
python_abi=3.10=2_cp310
pytorch-lightning=1.9.0=pypi_0
pytz=2024.2=pyhd8ed1ab_1
pyyaml=6.0.2=py310h837254d_1
pyzmq=26.2.0=py310h0c870a2_3
readline=8.2=hca72f7f_0
referencing=0.36.1=pyhd8ed1ab_0
regex=2024.11.6=py310h46256e1_0
requests=2.31.0=pypi_0
rfc3339-validator=0.1.4=pyhd8ed1ab_1
rfc3986-validator=0.1.1=pyh9f0ad1d_0
rich=13.9.4=py310hecd8cb5_0
rpds-py=0.22.3=py310h98870a7_0
safetensors=0.5.2=pypi_0
scikit-image=0.25.0=pypi_0
scikit-learn=1.3.2=pypi_0
scipy=1.11.4=pypi_0
seaborn=0.13.2=pypi_0
send2trash=1.8.3=pyh31c8845_1
setuptools=75.1.0=py310hecd8cb5_0
shellingham=1.5.0=py310hecd8cb5_0
six=1.17.0=pyhd8ed1ab_0
smart_open=5.2.1=py310hecd8cb5_0
smmap=5.0.2=pypi_0
sniffio=1.3.1=pyhd8ed1ab_1
sounddevice=0.4.6=pypi_0
soundfile=0.12.1=pypi_0
soupsieve=2.5=pyhd8ed1ab_1
soxr=0.3.7=pypi_0
spacy=3.7.2=py310h09c3384_0
spacy-legacy=3.0.12=py310hecd8cb5_0
spacy-loggers=1.0.4=py310hecd8cb5_0
sqlite=3.45.3=h6c40b1e_0
srsly=2.4.8=py310hcec6c5f_1
stack_data=0.6.3=pyhd8ed1ab_1
streamlit=1.41.1=pypi_0
sympy=1.13.3=pypi_0
tenacity=9.0.0=pypi_0
tensorboard=2.18.0=pypi_0
tensorboard-data-server=0.7.2=pypi_0
terminado=0.18.1=pyh31c8845_0
thinc=8.2.2=py310h09c3384_0
threadpoolctl=3.2.0=pypi_0
tifffile=2025.1.10=pypi_0
tiktoken=0.8.0=pypi_0
timm=1.0.14=pypi_0
tinycss2=1.4.0=pyhd8ed1ab_0
tk=8.6.14=h4d00af3_0
tokenizers=0.21.0=pypi_0
toml=0.10.2=pypi_0
tomli=2.2.1=pyhd8ed1ab_1
toolz=1.0.0=pypi_0
torch=2.2.2=pypi_0
torchaudio=2.2.2=pypi_0
torchmetrics=1.6.1=pypi_0
torchtext=0.17.2=pypi_0
torchvision=0.17.2=pypi_0
tornado=6.4.2=py310hbb8c376_0
tqdm=4.67.1=pypi_0
traitlets=5.14.3=pyhd8ed1ab_1
transformers=4.48.1=pypi_0
typer=0.9.0=py310hecd8cb5_0
types-python-dateutil=2.9.0.20241206=pyhd8ed1ab_0
typing-extensions=4.12.2=hd8ed1ab_1
typing_extensions=4.12.2=pyha770c72_1
typing_utils=0.1.0=pyhd8ed1ab_1
tzdata=2024.2=pypi_0
udls=1.1.4=pypi_0
ultralytics=8.3.64=pypi_0
ultralytics-thop=2.0.14=pypi_0
unicodedata2=15.1.0=py310h46256e1_1
uri-template=1.3.0=pyhd8ed1ab_1
urllib3=2.1.0=pypi_0
wasabi=0.9.1=py310hecd8cb5_0
wcwidth=0.2.13=pyhd8ed1ab_1
weasel=0.3.4=py310hecd8cb5_0
webcolors=24.11.1=pyhd8ed1ab_0
webencodings=0.5.1=pyhd8ed1ab_3
websocket-client=1.8.0=pyhd8ed1ab_1
werkzeug=3.1.3=pypi_0
wheel=0.44.0=py310hecd8cb5_0
widgetsnbextension=4.0.13=pyhd8ed1ab_1
xxhash=3.5.0=pypi_0
xz=5.4.6=h6c40b1e_1
yaml=0.2.5=h0d85af4_2
yarl=1.18.3=pypi_0
zeromq=4.3.5=h7130eaa_7
zipp=3.21.0=pyhd8ed1ab_1
zlib=1.2.13=h4b97444_1
zstandard=0.23.0=py310h41d873f_1
zstd=1.5.6=h138b38a_0
